snippet simple
hello
endsnippet

snippet poolfor
with ProcessPoolExecutor() as executor:
	result = list(tqdm(executor.map(fn, $1), total=len($1)))
$0
endsnippet

snippet poolmap
with tqdm(total=len($1)) as progress:
	with ProcessPoolExecutor() as executor:
		futures = [] 
		for i, d in enumerate($1):
			future = executor.submit(fn, i, d)
			future.add_done_callback(lambda _: progress.update())  
			futures.append(future)
			result = [f.result() for f in futures]
$0
endsnippet
